<br><br>
<div class="flex-box">

  <div class="medium-4 columns card-container callout ml1">
    <h5>Pending <span class="label float-right">Total time: {{ pending_hours }} hours</span></h5>
    <div class="row"><hr></div>
    <div class="no_tasks" *ngIf="pending_tasks.length == 0 else showPendingtasks">
      No pending tasks
    </div>

    <ng-template #showPendingtasks>
      <app-task [tasks]="pending_tasks" [category]="'pending'" (taskDeleted) = "onTaskDelete()"></app-task>
    </ng-template>
  </div>

  <div class="medium-4 columns card-container callout ml1">
    <h5>In Progress <span class="label float-right">Total time: {{ in_progress_hours }} hours</span></h5>
    <div class="row"><hr></div>
    <div class="no_tasks" *ngIf="in_progress_tasks.length == 0 else showInProgresstasks">
      No tasks in progress
    </div>
    <ng-template #showInProgresstasks>
      <app-task [tasks]="in_progress_tasks" [category]="'in_progress'" (taskDeleted) = "onTaskDelete()"></app-task>
    </ng-template>
  </div>

  <div class="medium-4 columns card-container callout ml1 mr1">
    <h5>Completed <span class="label float-right">Total time: {{ completed_hours }} hours</span></h5>
    <div class="row"><hr></div>
    <div class="no_tasks" *ngIf="completed_tasks.length == 0 else showCompletedtasks">
      No completed tasks to show
    </div>
    <ng-template #showCompletedtasks>
      <app-task [tasks]="completed_tasks" [category]="'completed'" (taskDeleted) = "onTaskDelete()"></app-task>
    </ng-template>
  </div>
</div>