<form [formGroup]="form" (ngSubmit)="addTask(form.value)">
  <div class="form-container">
    <div class="row columns">
      <h1>{{ title }}</h1>
      <input type="hidden" [(ngModel)]="task.id" formControlName="id">
      <label>title
        <input type="text" [(ngModel)]="task.title" formControlName="title">
      </label>
<!--       <div class="alert" *ngIf="!form.controls['title'].valid && form.controls['title'].touched">
        Please enter title of the task
      </div> -->
      <label>Description
        <textarea [(ngModel)]="task.description" formControlName="description"></textarea>
      </label>
      <div class="alert" *ngIf="!form.controls['description'].valid && form.controls['description'].touched">
        Please enter task's description
      </div>

<!--       <label>Likes
        <input type="number" [(ngModel)]="task.likes" formControlName="likes">
      </label>
      <div class="alert" *ngIf="!form.controls['likes'].valid && form.controls['likes'].touched">
        Please enter task's likes
      </div> -->

      <label>Language
        <select type="text" [(ngModel)]="task.language" formControlName="language">
          <option value="english">English</option>
          <option value="portuguese">Portuguese</option>
          <option value="spanish">Spanish</option>
          <option value="french">French</option>
        </select>
      </label>
<!--       <div class="alert" *ngIf="!form.controls['language'].valid && form.controls['language'].touched">
        Please select a language for the joke
      </div>
 -->

      <label>Category
        <input type="text" class="category" [(ngModel)]="task.category" formControlName="category">
      </label>
<!--       <div class="alert" *ngIf="!form.controls['category'].valid && form.controls['category'].touched">
        Please enter joke's category
      </div> -->

      <input type="submit" class="button expanded" value="Save">
    </div>
  </div>

</form>